Rem Current Workdir
set CURDIR=%cd%

Rem Garmin Username
set USERNAME=

Rem Garmin Password
set PASSWORD=

Rem Path to sync.py
set SYNCPY=..\withings-garmin-v2

Rem Days to fetch
set DAYS=14

Rem Logfile
set LOGFILE=%CURDIR%\sync.log